body {
  margin: 0;
  font-family: ‘Roboto’, Helvetica, sans-serif !important;
}

$primary: #265A8D;
$secondary: #0091D0;
$default: #9E9E9E;
$white: #FFFFFF;
$black: #000000;
$danger: indianred;

.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  .map-container {
    width: 70%;
  }

  .sidebar {
    width: 30%;
    height: 100%;
    background-color: white;

    .header {
      width: 100%;
      height: 15vh;
      display: flex;
      background-color: #0091D0;

      .logo {
        margin: 10px;
        height: 100px;
        width: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("http://seafood.ocean.org/resources/assets/images/logos/newLogo--white@2x.png");
      }

      .title-text {
        padding-left: 20px;
        color: white;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .violations {
      height: 85vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: scroll;

      .violation-container {
        margin-top: 1.5vh;
        border: 1px solid lightgray;
        padding: 1vh;
        width: 90%;
        line-height: 1.15;

        .violation-title {
          color: indianred;
          display: flex;
          align-items: baseline;
          padding: 5px 0;
          font-size: 12px;

          .text {
            color: $primary;
            padding-left: 6px;
          }
        }

        .violation-details {
          display: flex;
          flex-direction: column;

          div {
            padding-top: 5px;
          }

          .name {
            font-size: 24px;
          }

          .fas {
            padding: 2px;
            cursor: pointer;
            color: $primary
          }

          .comments {
            color: gray;
          }

          .date {
            color: rgba(0,0,0,0.6);
            font-size: 14px;

            i {
              padding-right: 5px;
            }
          }
        }
      }
    }

    .paper {
      background: #fff;
      border-radius: 2px;
    }
  }
}